# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# C++ Build Output
src/cppcodes/build/
src/cppcodes/CMakeLists.txt.user
src/cppcodes/examples/CMakeLists.txt.user

# LaTeX build residuals (in case of manual compile logs)
*.aux
*.log
*.out
*.toc
*.synctex.gz
